<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .container {
            width: 120px;
            clear: both;
        }

        .container input {
            width: 100%;
            clear: both;
        }
    </style>
</head>
<body>
<h1>Study create</h1>
<!--/*@thymesVar id="StudyDto" type="com.firstline.procedure.scheduling.dto.StudyDto"*/-->
<form action="#" th:action="@{/study}" th:object="${StudyDto}" method="post">
    <div class ="container">
        <label>Patient name:</label>
        <input type="text"  th:field="*{status}"><br>
        <label>Patient sex:</label>
        <input type="date"  th:field="*{plannedStartTime}"><br>
        <label>Patient date birth:</label>
        <input type="date"  th:field="*{estimatedEndTime}"><br>


        <br>    <button type="submit" >create patient</button></br>
    </div>
</form>

</body>
