<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <div class="alert alert-primary" role="alert">
        <h1 th:text="#{overview.message}"></h1>
    </div>
</head>
<body>

<div class="table-cell">
    <table class="table">
        <thead>
        <tr class="p-3 mb-2 bg-primary text-white">
            <th scope="col">Name</th>
            <th scope="col">Sex</th>
            <th scope="col">Date Birth</th>
            <th scope="col">Info patient</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patientDto , iStat : ${patientPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${patientDto.patientName}"></td>
            <td th:text="${patientDto.patientSex}"></td>
            <td th:text="${patientDto.patientDateBirth}"></td>

            <td><a href="#" th:href="@{/patient/get/} + ${patientDto.id}">View</a></td>

            <td>
                <form th:action="@{/readPOI/} + ${patientDto.id}">
                    <button type="submit" class="btn btn-primary">Extra info patient</button>
                </form>
            </td>
            <td>
                <form th:action="@{/pdf/} + ${patientDto.id}">
                    <button type="submit" class="btn btn-success">PDF file</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>

    <ul class="nav nav-pills">
        <li class="nav-item" th:if="${patientPage.totalPages > 0}"
            th:each="pageNumber : ${pageNumbers}">
            <a class="nav-link"
               th:href="@{/(size=${patientPage.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:classappend="${pageNumber==patientPage.number + 1} ? 'active':''"></a>
        </li>
    </ul>
    <a th:href="@{/patient}">Add New Patient</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Sign Out</button>
    </form>
    </hr>
</div>

<!--/*@thymesVar id="studyDto" type="com.firstline.dto.StudyDto"*/-->
<form action="#" th:action="@{http://localhost:9200/study/studies/_search?q=description:} + ${des} "  method="post">

    <p>description: <input type="text" id="des" name="des"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>