<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</div>
<div><h2>list studies</h2>

    <table>
        <tbody>

        <!--/*@thymesVar id="studies" type="com.firstline.procedure.scheduling.dto.StudyDto"*/-->
        <tr th:if="${studies.empty}">
            <td colspan="2"> No Studies Available </td>
        </tr>
        <tr th:each="study : ${studies}">
            <td th:text="${study.description}">Description</td>
            <td th:text="${study.status}">Status</td>
            <td th:text="${study.plannedStartTime}"></td>
            <td th:text="${study.estimatedEndTime}"></td>
            <td><a href="#" th:href="@{/study/update/} + ${study.id}">Update study</a></td>
        </tr>
        </tbody>

    </table>
    <a th:href="@{/study}">New study</a></br>
    <!--<a th:href="@{/study/update/} + ${study.id}">Update study</a></br>-->
    <a th:href="@{/patient/list}">return to list patients</a>
    <br/><br/>
</div>
</body>
</html>